@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

* {
    font-family: Hack Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    all: unset;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

/* Module containers (all children): background set to your @base color */
#waybar > box > *,
tooltip {
    background-color: @base;
    color: @text;
    border: 1px solid @overlay;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

.modules-left,
.modules-right,
.modules-center {
    padding:7px;
    border-radius:10px;
    background: alpha(@base,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-left {
    margin: 10 0 5 10;
}
.modules-right {
    margin: 10 10 5 0;
}
.modules-center {
    margin: 10 0 5 0;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
bluetooth:hover,
network:hover,
battery:hover,
#cpu:hover,
memory:hover,
temperature:hover{
    transition: all .3s ease;
}

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@text,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color: @highlightLow;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.focused {
    color: @iris;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.urgent {
    color: @love;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: @highlightMed;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#battery.charging {
    color: #26A65B;
}
#battery.warning:not(.charging) {
    color: #ffbe61;
}
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-notification,
#custom-pacman,
#group-expand,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-coolant,
#custom-dog,
#network,
#battery,
#clock,
#tray,
#tray menu,
#tray menu separator,
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
}
