color={{bg}}

layout-bg-color=#00000000
layout-border-color=#00000000
layout-text-color={{fg}}

text-color={{accent}}
text-clear-color={{color2}}
text-caps-lock-color={{color3}}
text-ver-color={{color5}}
text-wrong-color={{color1}}

bs-hl-color={{bg}}66
key-hl-color={{accent}}
caps-lock-bs-hl-color={{bg}}66
caps-lock-key-hl-color={{color3}}

separator-color=#00000000

inside-color={{accent}}55
inside-clear-color={{color2}}55
inside-caps-lock-color={{color3}}55
inside-ver-color={{color5}}55
inside-wrong-color={{color1}}55

line-color={{accent}}11
line-clear-color={{color2}}11
line-caps-lock-color={{color3}}11
line-ver-color={{color5}}11
line-wrong-color={{color1}}11

ring-color={{accent}}aa
ring-clear-color={{color2}}aa
ring-caps-lock-color={{color3}}aa
ring-ver-color={{color5}}aa
ring-wrong-color={{color1}}aa
