@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

* {
    font-family: Jetbrains Mono Nerd Font, Hack Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    all: unset;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: @text;
}

.module {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

tooltip,
tooltip label {
    color: @text;
    padding: 0px;
    margin: 0px;
    background: alpha(@base,.8);
}

tooltip {
    border: none;
}

tooltip label {
    background-color: transparent;
}

.module{
    padding: 0px 5px;
    transition: all .3s ease;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.module:hover {
    transition: all .3s ease;
    color: @rose;
}

.modules-left,
.modules-right,
.modules-center,
tooltip {
    padding:7px;
    border-radius:10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-left,
.modules-right,
.modules-center {
    background: alpha(@base,.6);
}

.modules-left {
    margin: 10px 0px 5px 10px;
}
.modules-right {
    margin: 10px 10px 5px 0px;
}
.modules-center {
    margin: 10px 0px 5px 0px;
}

#mode {
    font-size: 14px;
}

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@text,.4);
    transition: all .2s ease;
}
/* This is here to make the buttons align with border, they are right aligned
* by default, so we need to add some padding to the right to make it look nice */
#workspaces button:last-child {
    padding: 0px 8px 0px 5px;
}
#workspaces button:hover {
    color: @subtle;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all .5s ease;
}
#workspaces button.focused {
    color: @iris;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.urgent {
    color: @love;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: @muted;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#battery {
    padding: 0px 10px 0px 5px;
}
#battery.charging {
    color: @pine;
}
#battery.warning:not(.charging) {
    color: @love;
}
#battery.critical:not(.charging) {
    color: @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#network {
    /* This is here because current wifi icon will be cut off otherwise */
    padding: 0px 8px 0px 0px;
}
.group-item .module {
    padding: 0px 10px;
}
