# Outputs

#output HDMI-A-1 {
#	mode 1920x1080@75.001Hz
#	transform 270
#	pos 0 2200
#}
#workspace 10 output HDMI-A-1

#exec_always swaymsg output HDMI-A-1 disable
#bindsym $mod+m exec swaymsg output HDMI-A-1 toggle

output DP-1 {
	mode 2560x1440@143.998Hz
	pos 1080 2560
	adaptive_sync fullscreen
}


# Config

for_window [app_id="pavucontrol"] floating enable, move position 2100 110, resize set 400 600
exec swaybg --output DP-1 --color 000000 --image ~/.config/sway/1.wallpaper --mode fill \
# --output HDMI-A-1 --color 000000


# Autostart programs

exec vesktop
exec steam
