# Outputs

# output HDMI-A-1 {
# 	mode 1920x1080@75.001Hz
# 	transform 270
# 	pos 0 2200
# }
# workspace 10 output HDMI-A-1
# exec_always swaymsg output HDMI-A-1 disable
# bindsym $mod+shift+m exec swaymsg output HDMI-A-1 toggle


output DP-1 {
	mode 2560x1440@143.998Hz
	pos 1080 2560
	adaptive_sync fullscreen
}


# Config

for_window [app_id="pavucontrol"] floating enable, move position 1690 120, resize set 1200 600

# Autostart programs

exec vesktop
exec steam

# SwayFX

blur enable
blur_passes 3
blur_radius 4
blur_saturation 0.8
blur_contrast 1.2

shadows enable
shadows_on_csd enable
shadow_blur_radius 20
shadow_offset 4 8

corner_radius 12

titlebar_separator disable

## Playback idle handling
### Import environment variables and start our custom user session target
exec systemctl --user import-environment SWAYSOCK WAYLAND_DISPLAY DBUS_SESSION_BUS_ADDRESS
exec systemctl --user start sway-session.target
