[Unit]
Description=Persistent swaybg wallpaper service
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/rnbg
Restart=on-failure

