# -*- conf -*-

[colors-dark]
cursor={{bg_nh}} {{fg_nh}}

background={{bg_nh}}
foreground={{fg_nh}}

regular0={{color0_nh}}
regular1={{color1_nh}}
regular2={{color2_nh}}
regular3={{color3_nh}}
regular4={{color4_nh}}
regular5={{color5_nh}}
regular6={{color6_nh}}
regular7={{color7_nh}}

bright0={{color8_nh}}
bright1={{color9_nh}}
bright2={{color10_nh}}
bright3={{color11_nh}}
bright4={{color12_nh}}
bright5={{color13_nh}}
bright6={{color14_nh}}
bright7={{color15_nh}}

flash={{accent_nh}}
